@{
    ViewBag.Title = "Register";
    Layout = null;
}
@using Test.ViewModels;
@model ProfileViewModel
<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <div class="text-center">
                            <img src="~/Images/Admin/@Model.ImgUrl" width="100" class="rounded-circle">
                        </div>
                    }
                    if (User.IsInRole("Teacher")&& User.IsInRole("Admin"))
                    {
                        <div class="text-center">
                            <img src="~/Images/TeacherAdmin/@Model.ImgUrl" width="100" class="rounded-circle">
                        </div>
                    }
                    if (User.IsInRole("Teacher") && User.IsInRole("Student"))
                    {
                        <div class="text-center">
                            <img src="~/Images/TeacherStudent/@Model.ImgUrl" width="100" class="rounded-circle">
                        </div>
                    }
                    if (User.IsInRole("Student"))
                    {
                        <div class="text-center">
                            <img src="~/Images/Student/@Model.ImgUrl" width="100" class="rounded-circle">
                        </div>
                    }
                    if (User.IsInRole("EndUser"))
                    {
                        <div class="text-center">
                            <img src="~/Images/EndUser/@Model.ImgUrl" width="100" class="rounded-circle">
                        </div>
                    }
                }
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0">@Model.UserName</h5>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <span>Our dear Admin</span>
                        }
                        if (User.IsInRole("Teacher") && User.IsInRole("Admin"))
                        {
                            <span>Our dear TeacherAdmin</span>

                        }
                        if (User.IsInRole("Teacher") && User.IsInRole("Student"))
                        {
                            <span>Our dear TeacherAssistant</span>

                        }
                        if (User.IsInRole("Student"))
                        {
                            <span>Our dear Student</span>

                        }
                        if (User.IsInRole("EndUser"))
                        {
                            <span>Our dear guest</span>

                        }
                    }
                </div>




            </div>

        </div>

    </div>

</div>
<style>
    body {
        background: #eee;
    }

    .card {
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer;
    }

        .card:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #E1BEE7;
            transform: scaleY(1);
            transition: all 0.5s;
            transform-origin: bottom
        }

        .card:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #8E24AA;
            transform: scaleY(0);
            transition: all 0.5s;
            transform-origin: bottom
        }

        .card:hover::after {
            transform: scaleY(1);
        }


    .fonts {
        font-size: 11px;
    }

    .social-list {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;
    }

        .social-list li {
            padding: 10px;
            color: #8E24AA;
            font-size: 19px;
        }


    .buttons button:nth-child(1) {
        border: 1px solid #8E24AA !important;
        color: #8E24AA;
        height: 40px;
    }

        .buttons button:nth-child(1):hover {
            border: 1px solid #8E24AA !important;
            color: #fff;
            height: 40px;
            background-color: #8E24AA;
        }

    .buttons button:nth-child(2) {
        border: 1px solid #8E24AA !important;
        background-color: #8E24AA;
        color: #fff;
        height: 40px;
    }
</style>
