@using Test.ViewModels
@model DepartementViewModel

<div class="mb-3">
    <label asp-for="DepartementName" class="form-label"></label>
    <input asp-for="DepartementName" class="form-control" aria-describedby="emailHelp" />
    <span asp-validation-for="DepartementName" class="text-danger"></span>
</div>
<br />
