﻿
@{
    ViewBag.Title = "Vision";
}

<br />
<br />
<style>
   
</style>
<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home" style="display:flex; justify-content:center; margin-left:80px; background-color:aliceblue;">
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small" style="position:absolute; left:750px; top:450px;">
        <span class="w3-tag" >Open from 6am to 5pm</span>
    </div>
    <div class="w3-display-middle w3-center" style="margin-left:250px;">
        <span class="w3-text-white" style="font-size:90px; ">FCI<br>Assuit University</span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large" style="">
        <span class="w3-text-white">55PF+CXV, 55PG+444,, Al-Qibliya,, Assiut First Department,, Assiut Governorate 2073115,</span>
    </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large" style=" margin-left:80px; margin-top:20px; background-color:aliceblue;">

    <!-- About Container -->
    <div class="w3-container" id="about" >
        <div class="w3-content" style="max-width:700px;">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide" style="font-size:40px;">@ViewBag.Message</span></h5>
            <p>
                <b>The main goal of the FCI Library</b> is to make all the published Books of students and teachers available to everyone in the faculty. While large in scope and ambition, this goal is within our grasp. Achieving it will require the participation of librarians, Professor Dr. Khaled, Vice Dean of the Faculty of Computers and Information, Assuit University, Professor Dr. Tayseer, Dean of the Faculty of Computers and Information, Assuit University.
            </p>
            <p>Imagine what a comprehensive, FCI library could be! A talented student  whiz who lives in a rural community can explore the Books of high knownledge. Any student still didnot graduate and any teacher can have a large print edition of any book ever published..

            </p>
            <p>
                An innovative young student can publish a book directly to this great library on subjects that might  otherwise make it through the long and difficult publication process.
            </p>
           
        </div>
    </div>

    
    <!-- Contact/Area Container -->
    <div class="w3-container" id="where" style="padding-bottom:32px;">
        <div class="w3-content" style="max-width:700px; margin-left:80px; margin-top:20px; background-color:aliceblue;">
            <h5 class="w3-center w3-padding-48" style="display:block;"><span class="w3-tag w3-wide" style="font-size:35px;">HOW CAN YOU HELP?</span></h5>
            <p>Help us at some things.</p>
            <img src="~/Images/Home/SystemFeature.jpg" class="w3-image" style="width:100%">
            <p><span class="w3-tag"><b>IMPORTANT_HINT!</b></span> Improve the records we have for the books you love – every record is fully editable by clicking the “edit” button on the page for each book. If we don't have a record for a book, you can create one by clicking the “Create” button on the page. If you're a library with digitized resources, tell us where they are and we'll point people to them(out side the system).</p>
            <p><strong>Our hope</strong> is that students and instructors will join to this library and together we can build towards universal access to all knowledge.</p>
        </div>
    </div>

    <!-- End page content -->
</div>
@section Scripts
{
  <script src="~/js/Vision.js"></script>   
}
@section AdvertiseSection
{
    <partial name="_advertisesSectionPartial"></partial>
}
