@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Book
<br /> <br />
<h2 class="text-center">Insert Data into Book Tabel</h2>
<form asp-action="Create" asp-controller="Book" method="post" enctype="multipart/form-data">
   <div  asp-validation-summary="All" class="text-danger"></div>
   <br />
    <partial name="_CreateEditPartial1" model=Model></partial>
  <br />
  <button type="submit" value="Create" class="btn btn-primary">Submit</button>
</form>
<br /> <br />
<a asp-action="index" asp-controller="Book" class="btn btn-primary">Back to list</a>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"></partial>
}
@section AdvertiseSection
{
    <partial name="_advertisesSectionPartial"></partial>
}

