@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Test.ViewModels
@model Publisher
<br /> <br />
<h2 class="text-center">Details Inforamtion</h2>
<br />
<partial name="_DetailsDeletePartial" model=Model></partial>
<br />
<p>
    <a href="/Publisher/Edit/@Model.PublisherID" class="link-success">Edit</a>
<br />
    <a href="/Publisher/index" class="link-success">Back to list</a>

</p>
@section AdvertiseSection
{
    <partial name="_advertisesSectionPartial"></partial>
}


