@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Publisher
<br /> <br />
<h2 class="text-center">Details Inforamtion</h2>
<br />
<partial name="_DetailsDeletePartial" model=Model></partial>
<br />
<p>
    <a asp-action="Edit" asp-controller="Publisher" asp-route-itemid="@Model.PublisherID" class="btn btn-primary">Edit</a>
<br />
    <a asp-action="index" asp-controller="Publisher" class="btn btn-primary">Back to list</a>

</p>
@section AdvertiseSection
{
    <partial name="_advertisesSectionPartial"></partial>
}


