<br /> <br />
<h2 class="text-center">Publishers Informations</h2>
<form asp-action="index" asp-controller="Publisher" method="Get">
    <div class="col-md-4">
        <input type="text" id="search" name="search" value="@Convert.ToString(TempData["search for specific publisher"])" onchange="search_publisher()" class="form-control" style="max-width:100%" placeholder="Search Publisher here..." />
           @if ((bool)ViewData["checking"] == true)
            {
           <input type="text" id="check" name="check" value="The publisher you search doesnot exist in our system" readonly/>
            }

    </div>
     <div class="col-md-4">
         <select name="SortOrder" id="SortOrder">
             <option value="">Which the type of sort your search depend on</option>
             @{
                if ((string)TempData["sort for search for specific publisher"] == "Desc-desc")
                {
                    <option value="Desc-desc" selected>PublisherDescription</option>
                }
                else
                {
                    <option value="Desc-desc">PublisherDescription</option>

                }
                if ((string)TempData["sort for search for specific publisher"] == "Publish-desc")
                {
                    <option value="Publish-desc" selected>PublisherName</option>
                }
                else
                {
                    <option value="Publish-desc">PublisherName</option>

                }
                if ((string)TempData["sort for search for specific publisher"] == "image")
                {
                    <option value="image" selected>The Name of image</option>
                }
                else
                {
                    <option value="image">The Name of image</option>

                }
             }
         </select>
    </div>
    <div class="col-md-2">
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
    </div>
</form>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <button type="button" class="btn btn-primary" style="position:relative; left:855px;">
            <i class="fa fa-search"></i><a style="text-decoration:none; color:white;" asp-action="Create" asp-controller="Publisher">Create</a>
        </button>
    }
}
<partial name="_SearchPartial" id="partial"></partial>
 

@section Scripts{
    <script>
        function search_publisher()
        {
            var search = document.getElementById("search").value;
            var sort = document.getElementById("SortOrder").value;
            $.ajax({
                url: "/Publisher/Search",
                data: { "search": search, "SortOrder": sort },
                success: function (result) {
                    var partialElement = document.getElementById("partial");
                    if (partialElement !== null) 
                    {
                        document.getElementById("partial").innerHTML = result;
                    }
                }
            });
        }
       

    </script>
}
@section AdvertiseSection
{
<partial name="_advertisesSectionPartial"></partial>
}

